/********GLOBAL**********/
* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-style: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

body {
    background-image: url('../imgs/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/********REVIEW STARS*********/
.clip-star {
	background: gold;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
	height: 2em;
	width: 2em;
}

/********HEADER**********/
.header {
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.header-text-content {
    margin-top: 15%;
    width: 40%;
}

/********REVIEWS**********/
.reviews {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.review-slideshow {
    margin-top: 10%;
}

.review-card {
    text-align: center;
}

.review-card p {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
.glider img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}

/********Help**********/
.help-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.help-section .row {
    background-color: #283742;
    border-radius: 10px;
    padding: 3rem 3.5rem;
}

.help-section p {
    color: #A6ACB0;
}

@media only screen and (max-width: 768px) {

    .header-text-content {
        width: 80%;
        margin: 10% auto;
    }

    .header-text-content button {
        text-align: center;
    }

    .review-card p {
        width: 80%;
    }

    .main-heading {
        text-align: left;
    }

    .help-section .row {
        padding: 10px 20px;
    }
}
